@import './variables.scss';

#logo a {
  background: url('/assets/images/logo.png') no-repeat;
  background-size: contain;
  height: 50px;
  width: 115px;
  overflow: hidden;
  float: left;
}

header {
  width: 100%;

  div:nth-child(2) {
    font-weight: bold;
  }
}

footer {
  bottom: 0px;
  height: 50px;
}

header, footer {
  position: fixed;
  width: 100%;
  background: $main_color;
  display: flex;
  flex-direction: row;
  color: $secondary_color;
  padding: 10px;

  div {
    flex: 1;
  }

  div:nth-child(2) {
    text-align: center;
    line-height: 50px;
  }
}

main {
  padding: 70px 0px;
  background: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.link {
  text-indent: -1000px;
  height: 50px;

  &.youtube {
    display: block;
    height: 30px;
    width: 50px;
    background: url('/assets/images/youtube.png') no-repeat;
    background-size: contain;
    overflow: hidden;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;

  flex-direction: column;
}

.social_media_bar {
  a {
    float: right;

    &:first-child {
      padding-right: 20px;
    }
  }
}
