main {
  section {
    height: 100vh;
    height: calc(100vh - 140px);
  }

  #splash {
    background: black;

    #photos {
      height: 100%;
      position: relative;

      #photo_1 {
        height: 100%;
        background-size: cover;
      }

      #tagline {
        position: absolute;
        color: white;
        font-weight: bold;
        font-size: 3em;
        bottom: 10px;
        left: 10px;
        background: rgba(0,0,0,.5);
        padding: 10px;

      }
    }
  }

  section#description {
    background: url('/assets/images/bio_just_me.jpg') top right;
    background-size: cover;
    display: flex;
    align-items: center;

    article {
      font-size: 1em;
      margin: 0 40% 0 10%;
      padding: 20px;
      background: rgba(255,255,255,.5);
    }
  }

  section#portfolio {
    padding: 20px;
    height: auto;
    min-height: calc(100vh - 180px);

    ul {
      list-style: none;
      align-content: flex-start;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;

      li {
        flex: 1;
        text-align: center;
      }
    }
  }
}
