main {
  section {
    height: 100vh;
    height: calc(100vh - 140px);
  }

  #splash {
    .photo {
      background: url('/assets/images/lake.png');
      background-size: cover;
      height: 100%;
    }
  }
}
